body {
  background-color: white;
}

.container {
}

.container h1 {
  text-align: center;
  color: red;
}

nav {
  background-color: black;
  padding: 10px;
  position: sticky;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 5px 10px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  position: sticky;
}
