body {
  background-color: white;
  width: 100%;
  height: 100%;
}

nav {
  background-color: black;
  padding: 10px;
  position: sticky;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 5px 10px;
}

.container {
  margin: 30px 28% 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 500px;
}

.box {
  background-color: rgb(250, 250, 250);
  width: 200px;
  height: 200px;
  padding: 35px;
  box-shadow: 5px 5px 15px gray inset;
  border-radius: 20px;
  text-align: center;
  transition: width 1.5s ease, height 2s ease, transform 2s ease,
    background-color 2s ease;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  position: sticky;
}

.container a {
  color: black;
  text-decoration: none;
}

.box:hover {
  background-color: wheat;
  width: 300px;
  height: 300px;
}
